<ion-header>
	<ion-navbar>
		<ion-title>Register</ion-title>

	</ion-navbar>
</ion-header>
<ion-content class="no-scroll">
  <ion-item>
    <ion-label stacked>Name</ion-label>
    <ion-input type="text" name="name" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Surname</ion-label>
    <ion-input type="text" name="surname" [(ngModel)]="surname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Email</ion-label>
    <ion-input type="text" name="email" [(ngModel)]="email"></ion-input>
  </ion-item>

<ion-item>
  <ion-label stacked>Password</ion-label>
  <ion-input type="{{inputType}}" name="password" [(ngModel)]="password"></ion-input>
</ion-item>

<ion-item>
  <ion-label *ngIf="passwordCheckbox">Hide password</ion-label>
  <ion-label *ngIf="!passwordCheckbox">Show password</ion-label>
  <ion-checkbox type="checkbox" name="passwordCheckBox" [(ngModel)]="passwordCheckbox" (click)="hideShowPassword()"></ion-checkbox>
</ion-item>

<div padding>
  <button ion-button color="primary" block (click)="submit('student')">Register as student</button><br><br>
  <button ion-button color="primary" block (click)="submit('teacher')">Register as teacher</button>
</div>
</ion-content>
