<ion-header>
	<ion-navbar>
		<img src="../../assets/icon/logo.png" width="70px" height="50px" style="display:inline-block"/>
		<ion-title class="titleicon" style="display:inline-block">Dashboard</ion-title>
		<ion-buttons start>
			 <button ion-button class="logout" (click)="logout()">
				 Logout
			 </button>
		 </ion-buttons>


	</ion-navbar>
</ion-header>
<ion-content class="no-scroll">

		<div *ngIf="chosenLesson!='null'">
			 <div class="word_to_guess">{{word.eng}}</div><br><br>


			 <div class="grid2x2" *ngIf="!mode">
									<!-- iteruje po wszystkich opcjach z tablicy i tworzy kolejne przyciski wg wzoru-->
									<div *ngFor=" let word of lessonsFiltered">
											<button ion-button round type="submit" class={{ok}} (click)="assign(word.pol)">{{word.pol}}</button>
									</div>
			</div>

			<div *ngIf="mode" style="width: 50%; margin: 0 auto; text-align: center">

								<input type="text" name="response" [(ngModel)]="response" class={{ok}} (keyup.enter)="assign(response)" placeholder="Your response">

			</div>


			<div padding class="reponse" *ngIf="clicked">
									<p align="center">Correct response: {{word.pol}}</p>
									<button ion-button block (click)="nextword()"> NEXT >> </button>
			</div>
</div>
</ion-content>
