
<ion-header>
  <ion-navbar>
    <img src="../../assets/icon/logo.png" width="70px" height="50px" style="display:inline-block"/>
    <ion-title class="titleicon" style="display:inline-block">Create lesson</ion-title>
    <ion-buttons start>
  		 <button ion-button class="logout" (click)="logout()">
  			 Logout
  		 </button>
  	 </ion-buttons>


  </ion-navbar>
</ion-header>
<ion-content class="no-scroll">
  <ion-item>
    <ion-label stacked>Subject</ion-label>
    <ion-input type="text" name="subject" [(ngModel)]="subject"></ion-input>
  </ion-item>

<ion-item>
    <ion-label stacked>Date</ion-label>
    <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="today"></ion-datetime>
</ion-item>
<div padding>
  <button ion-button (click)="create()">Create</button>
</div>

</ion-content>
