<ion-header>
<ion-navbar>
	<img src="../../assets/icon/logo.png" width="70px" height="50px" style="display:inline-block"/>
	<ion-title class="titleicon" style="display:inline-block">Add words to learn</ion-title>
	<ion-buttons start>
		 <button ion-button class="logout" (click)="logout()">
			 Logout
		 </button>
	 </ion-buttons>


</ion-navbar>
</ion-header>
<ion-content>


  <div style="text-align:center">
		<h1>Lesson: {{chosenLesson}}</h1>
		<table align="center">
			<tr>
				<td><b>English</b></td>
				<td><b>Polish</b></td>
			</tr>
	    <tr *ngFor=" let lesson of lessonsFiltered">
	        <td>{{lesson.eng}}</td>  <td>{{lesson.pol}}</td>
	    </tr>
			<tr>
				<td><input type="text"  name="english" [(ngModel)]="english" placeholder="english"></td>
				<td><input type="text" name="polish" [(ngModel)]="polish" placeholder="polish"  (keyup.enter)="submit()"/></td>
			</tr>
		</table>
	  <div>

	      <button ion-button (click)="submit()">Submit</button>

	  </div>

	</div>
</ion-content>
