<ion-header>
  <ion-navbar>
    <img
      src="assets/icon/logo.png"
      width="70px"
      height="50px"
      style="display:inline-block"
    />
    <ion-title class="titleicon" style="display:inline-block">Change password</ion-title>
    <ion-buttons start>
      <button ion-button class="logout" (click)="logout()">Logout</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="vertical-center-container">
  <div class="center">
    <ion-list>
      <ion-item class="item">
        <ion-label style="color:black" stacked>Old password</ion-label>
        <ion-input type="password" name="email" [(ngModel)]="old_password"></ion-input>
      </ion-item>
      <ion-item class="item">
        <ion-label style="color:black" stacked>New Password</ion-label>
        <ion-input
          type="password"
          name="password"
          [(ngModel)]="new_password"
        ></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button color="primary" block (click)="submit()">
        Change
      </button>
    </div>
  </div>
</ion-content>
