
.div1{
  text-align: center;
  padding-bottom: 0px;
  padding-left: 2%;
  padding-right: 2%;
}
h2.red{
  background-color: tomato;
}
h2.yellow{
  background-color:  #ffff33;
}
h2.green{
  background-color: lightgreen;
}
