<ion-header>
<ion-navbar>
	<img src="../../assets/icon/logo.png" width="70px" height="50px" style="display:inline-block"/>
	<ion-title class="titleicon" style="display:inline-block">Dashboard</ion-title>
<ion-buttons start>
		 <button ion-button class="logout" (click)="logout()">
			 Logout
		 </button>
	 </ion-buttons>
</ion-navbar>
</ion-header>
<ion-content>
<div class="center">
  <button ion-button color="primary" block (click)="setAction(0)">Create new lesson</button><br>
  <button ion-button color="primary" block (click)="setAction(1)">Add words</button><br>
  <button ion-button color="primary" block (click)="setAction(2)">Assign lessons to students</button><br>
  <button ion-button color="primary" block (click)="setAction(3)">See students' progress</button><br>
</div>
</ion-content>
