<ion-header>
  <ion-navbar>

      <img src="assets/icon/logo.png" width="70px" height="50px" style="display:inline-block"/>
      <ion-title class="titleicon" style="display:inline-block">Choose scope</ion-title>
  <ion-buttons start>
  		 <button ion-button class="logout" (click)="logout()">
  			 Logout
  		 </button>
  	 </ion-buttons>


  </ion-navbar>
</ion-header>
<ion-content>
  <div padding *ngIf="mode==null">

    <div padding style="margin-bottom:20%">
    </div>
    <button ion-button color="primary" block (click)="setmode(0)">From date to date</button>
    <button ion-button color="primary" block (click)="setmode(1)">Specific lesson</button>
  </div>


  	 <div *ngIf="mode==0" style="text-align: center;">

     	<div padding style="margin-bottom:20%">
     	</div>
  		 <button ion-button (click)="from()">From</button>
  		 <button ion-button (click)="until()">Until</button>
  	 </div>
  	 <div *ngIf="mode==1" style="text-align: center;">
  		 <ion-list>
  			 <button ion-item *ngFor="let date of lessonsDate;  let i=index" (click)="choose(i)">
  				 {{date.day}}.{{date.month}}.{{date.year}}: {{lessons[i].subject}}
  			 </button>
  		 </ion-list>
  	</div>
</ion-content>
